{% extends "layout.html" %}
{% block title %}Member Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Member Login</h1>
    <form id="login" action="{{ url_for('login_usr') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </form>
    <i>Press enter to login</i>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        $('#login').keypress(function(e) {
            if(e.keyCode == 13) {
                var data = {
                    "email": $("#email").val(),
                    "password": $("#password").val(),
                    "csrf": $('meta[name=csrf-token]').attr("content")
                };
                console.log('submitted' + data);
                socket.emit('login user', {json: data});
                $(".memberlogin").attr("disabled", "disabled");
            }
        });
        socket.on('login user response', function() {
            $(".addmember").removeAttr("disabled");
            $("#adduser").find("input[type=text], input[type=password]").val("");
        });
        socket.on('login user accept', function() {
            $("#login").submit();
        });
    </script>
{% endblock %}